:root {
    --h1-color: #eeeeee;
    --background-color: #333333;
    --card-background: #555555;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--h1-color);
    background: var(--background-color);
    margin: 0;
    padding: 0;
}

.card-stack {
    margin: 50px auto;
    width: 1250px;
    padding: 40px;    
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 25px;
}

.sun {
    grid-column: span 2;
    grid-row: span 2;
    font-size: 1.5em;
}

.card {
    background-color: var(--card-background);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 2em;
    text-align: left;
    margin-bottom: 20px;
}

.sun .circle {
    width: 275px;
    height: 275px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 10px;
}

h2 {
    font-size: 18px;
    margin: 10px 0 5px 0;
}

p {
    margin: 0;
    font-size: 14px;
}

.sun .circle {
background: radial-gradient(circle, #ffe416, #ff7700);
}

.mercury .circle {
background: radial-gradient(circle, #948e8e, #4d4b4b);
}

.venus .circle {
background: radial-gradient(circle, #fcebb9, #fcb36a);
}

.earth .circle {
background: radial-gradient(circle, #33ff5f, #0256ab);
}

.mars .circle {
background: radial-gradient(circle, #ff4d4d, #b34200);
}

.jupiter .circle {
background: radial-gradient(circle, #ffbf66, #cc6600);
}

.saturn .circle {
background: radial-gradient(circle, #936915, #b38f00);
}

.uranus .circle {
background: radial-gradient(circle, #56c2f9, #87caeb);
}

.neptune .circle {
background: radial-gradient(circle, #3366ff, #04047c);
}